doctype html
html
    head
        link(rel='stylesheet', href='../resources/css/index.css')
        meta(charset='UTF-8')
        script(type='text/javascript', src='../resources/js/index.js')
        block css
    body
        .app-title#toolbar
            a#minimize(href='javascript:void(0)', target='_blank')
                i.material-icons.md-18.md-light remove
            a#close(href='javascript:void(0);', target='_blank')
                i.material-icons.md-18.md-light close
            p.md-18 Litecraft
        .content
            .content-data
                block content
                    .language
                        .dropdown
                            a#language-btn.abutton(href='javascript:void(0)', target='_blank')
                                i.material-icons.md-18 language
                                |  Español - España
                            #languageDropdown.dropdown-content
                                a(href='javascript:void(0)', target='_blank' data-language='en-US') English - US
                                a(href='javascript:void(0)', target='_blank' data-language='en-PI') Pirate Speak - The Seven Seas
                                a(href='javascript:void(0)', target='_blank' data-language='es-ES') Español - España
                        //  a(href='javascript:void(0)', target='_blank')
                        //    i.material-icons.md-18.md-light language
                        //    |  Español - España

                        a.right.abutton(href='javascript:void(0)', target='_blank', data-translate='help')
                        a.right.abutton(href='javascript:void(0)', target='_blank') raulsmail
                            i.material-icons.md-18 arrow_drop_down

                        block main
                    .footer
                        block footer
                        p#version
                        img.logo(width='28px', height='28px', src='../resources/images/logo.webp')
                        p.logo Litecraft
block scripts