.language
    .dropdown
        a#language-btn.abutton(href='javascript:void(0)', target='_blank')
            i.material-icons.md-18 language
            |  Español - España
        #languageDropdown.dropdown-content
            a(href='javascript:void(0)', target='_blank' data-language='en-US') English - US
            a(href='javascript:void(0)', target='_blank' data-language='en-PI') Pirate Speak - The Seven Seas
            a(href='javascript:void(0)', target='_blank' data-language='es-ES') Español - España
    //  a(href='javascript:void(0)', target='_blank')
    //    i.material-icons.md-18.md-light language
    //    |  Español - España

    a.right.abutton(href='javascript:void(0)', target='_blank', data-translate='help')

    block main
.footer
    block footer
    p#version
    img.logo(width='32px', height='32px', src='../resources/images/logo.apng')
    p.logo Litecraft
