.content
    include layout
    .login-page
        .form
            form.login-form
                input(placeholder="username")
                input(type="password", placeholder="password")
                button login
