extends layout

block content
    .login-page
        .form
            h1 Log In
            h3 Use your Mojang account to log in
            form.login-form
                input#user(type="email", placeholder="Mojang account email")
                input#password(type="password", placeholder="Password")
                button login
                p.message
                    | Don't have an account?
                    a(href="https://minecraft.net/store/minecraft/#register")  Register one here!
block css
    link(rel='stylesheet', href='../resources/css/login.css')