extends layout

block css
    link(rel='stylesheet', href='../resources/css/main.css')

block main
    .container
        p You're logged in!

block scripts
    script(type='text/javascript', src='../resources/js/onLoad.js')