extends layout

block css
    link(rel='stylesheet', href='../resources/css/main.min.css')

block main
    .container
        p.name #{config.get('selectedProfile').name}
        p.email #{config.get('username')}
        .avatar
            img(src='../resources/images/default_avatar.png')
        .selection-window
          .window-frame
            .frame-button.red
            .frame-button.yellow
            .frame-button.green
          .window-body
                p.selected-version
                a#versions-btn(href='javascript:void(0)', target='_blank')
                    |  Select version...
                    i.material-icons.md-36 arrow_drop_up
                #versionsDropdown.dropdown-content
                    each val in config.get('versions').versions
                        a(href='javascript:void(0)', target='_blank', data-version=val.version)= val.version + " " + val.type.toUpperCase()
        a#play-btn(href='javascript:void(0);', target='_blank')
          |  Play
        
block scripts
    script(type='text/javascript', src='../resources/js/onLoad.js')
    script(type='text/javascript', src='../resources/js/main.js')
    
