$background-color: #2196f3;
$shadow-color: rgba(0, 0, 0, .2);
$white-color: #fff;
$black-color: #000;
$gray-color: #b3b3b3;
$light-gray-color: #d3d3d3;
$gradient-light-color: rgba(255, 255, 255, .25);
$gradient-dark-color: rgba(0, 0, 0, .25);
$light-text-color: rgba(255, 255, 255, .45);
$scrollbar-color: #f5f5f5;
$primary-color: #4caf50;
$primary-dark-color: #43a047;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto'), url('../fonts/Roboto-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url('../fonts/PressStart2P-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
}

html {
  font-family: 'Roboto', 'San Francisco', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  height: 100%;
  overflow: hidden;
}

body {
  -webkit-user-select: none;
  background: $background-color;
  box-shadow: inset 0 0 1em $shadow-color;
  font-family: 'Roboto', 'San Francisco', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;

  &::before,
  &::after {
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &::before {
    background: linear-gradient($gradient-light-color, $gradient-dark-color);
    mix-blend-mode: overlay;
    z-index: -2;
  }

  &::after {
    background: url('../images/noise.png');
    mix-blend-mode: overlay;
    opacity: .05;
    z-index: -1;
  }

  @media (-webkit-min-device-pixel-ratio: 2) {
    &::after { background-size: 50px 50px; }
  }
}

.app-title {
  -webkit-app-region: drag;
  height: 30px;
  line-height: 30px;
  text-align: right;
  vertical-align: middle;
  width: 100%;

  p {
    color: $white-color;
    font-size: 14px;
    font-weight: 700;
    margin-top: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  a {
    .material-icons {
      -webkit-app-region: no-drag;
      margin-right: 6px;
      margin-top: 6px;
    }
  }
}

.right { float: right; }

.language {
  background: $black-color;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;

  a {
    color: $white-color;
    font-size: 14px;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: none;
    .material-icons { vertical-align: text-bottom; }
  }
}

.footer {
  background: $black-color;
  bottom: 0;
  color: $light-text-color;
  font-family: 'Roboto', 'San Francisco', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  font-size: 11px;
  height: 40px;
  position: fixed;
  width: 100%;

  p {
    bottom: 0;
    cursor: default;
    margin-bottom: 0;
    padding-bottom: 6px;
    padding-left: 6px;
    position: fixed;
    width: 100%;
  }
}

.abutton {
  color: $white-color;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  padding: 0 6px;
  &:hover { color: $light-gray-color; }

  &.active {
    background-color: $white-color;
    color: $black-color;
  }
}

.dropdown-content {
  background-color: $white-color;
  box-shadow: 0 8px 16px 0 $shadow-color;
  display: none;
  position: absolute;
  top: 60px;
  z-index: 2;

  a {
    color: $black-color;
    display: block;
    font-size: 14px;
    padding: 2px 6px;
    text-decoration: none;

    &:hover {
      background-color: $black-color;
      color: $white-color;
    }

  }
}

#languageDropdown.dropdown-content {
  height: 245px;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);
    background-color: $scrollbar-color;
  }

  &::-webkit-scrollbar {
    background-color: $scrollbar-color;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb { background-color: $black-color; }
  a { width: 210px; }
}

#profileDropdown.dropdown-content {
  right: 0;
  a { width: 85px; }
}

.center {
  bottom: 0;
  height: 150px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}

.show { display: block !important; }

p.logo {
  bottom: 1px;
  color: $white-color;
  font-size: 20px;
  font-weight: 700;
  position: fixed;
  right: 6px;
  width: auto;
}

img {
  -webkit-user-drag: none;

  &.logo {
    bottom: 6px;
    cursor: pointer;
    position: fixed;
    right: 84px;
    vertical-align: middle;
  }
}

.content,
.content-data {
  height: 100%;
}

.login-page {
  float: left;
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.form {
  background: $white-color;
  box-shadow: 0 0 20px 0 $shadow-color, 0 5px 5px 0 rgba(0, 0, 0, .24);
  margin: 0 auto 135px;
  max-width: 360px;
  padding: 16px 35px;
  position: relative;
  text-align: center;

  input {
    background: #f2f2f2;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0 0 15px;
    outline: 0;
    padding: 15px;
    width: 100%;
  }

  button,
  input[type='submit'] {
    background: $primary-color;
    border: 0;
    color: $white-color;
    cursor: pointer;
    font-size: 14px;
    outline: 0;
    padding: 15px;
    text-transform: uppercase;
    width: 100%;
  }

  button {
    &:hover,
    &:active,
    &:focus {
      background: $primary-dark-color;
    }
  }

  .message {
    color: $gray-color;
    font-size: 12px;
    margin: 15px 0 0;

    a {
      color: $primary-color;
      text-decoration: none;
    }
  }
}

.material-icons {
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  pointer-events: none;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  &.md-18 { font-size: 18px; }
  &.md-24 { font-size: 24px; }
  &.md-36 { font-size: 36px; }
  &.md-48 { font-size: 48px; }
  &.md-light { color: $white-color; }
}

.fade-out {
  -webkit-animation: fadeOut 1.25s;
  opacity: 0;
}

@-webkit-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


.fade-in {
  -webkit-animation: fadeIn 1.25s;
  opacity: 1;
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
