.language a.right.abutton {
    display: none;
}

.ahashakeheartache {
    -webkit-animation: kf_shake 0.4s 1 linear;
}

@-webkit-keyframes kf_shake {
    0% {
        -webkit-transform: translate(30px);
    }
    20% {
        -webkit-transform: translate(-30px);
    }
    40% {
        -webkit-transform: translate(15px);
    }
    60% {
        -webkit-transform: translate(-15px);
    }
    80% {
        -webkit-transform: translate(8px);
    }
    100% {
        -webkit-transform: translate(0px);
    }
}